main {
  display: flex;
}

h1 {
  margin-left: 1em;
}

p {
  color: grey;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

.menu-items ul li {
  padding-bottom: 1em;
}

.menu ul {
  list-style: none;
  margin: 0;
}

.dashboard {
  margin-left: 4em;
  flex: 1;
}

.dashboard > div {
  margin-bottom: 2em;
}

.section-title {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}

.plans-items {
  display: flex;
}

.plans-items > div:not(:first-child) {
  margin-left: 1em;
}

.plans-item {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  border-color: #42aaff;
  padding: 1em;
  width: 40%;
}

.plan-element {
  display: flex;
  justify-content: space-between;
}

.plan-title {
  font-size: 1.2em;
  font-weight: bold;
}

.plan-price > span {
  font-weight: bolder;
}

.plan-price > span > span {
  font-weight: normal;
  color: grey;
}

.subscription-period {
  font-size: 0.7em;
  color: grey;
}

.plan-item-button {
  margin: 1em 0 0 0;
}

.plan-disable .plan-title {
  color: white;
}

.plan-disable {
  background: #5d76cb;
  border-color: #6495ed;
}

.plan-disable span {
  color: white;
}

.plan-disable span > span {
  color: white;
}

.method-items {
  display: flex;
}

.method-items > div:not(:first-child) {
  margin-left: 1em;
}

.method-item {
  width: 40%;
  border: 1px #42aaff solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.method-title {
  display: inline-flex;
  justify-content: space-between;
}

.method-name {
  display: flex;
  color: grey;
}

.method-item-delete {
  position: relative;
  left: 90%;
  border: 1px grey solid;
  border-radius: 50%;
  background: grey;
  color: white;
  margin-bottom: 0.5em;
}

.method-item-new {
  display: flex;
  background: #ededed;
  border: 1px #ededed solid;
}

.method-item-new span {
  width: 1em;
  height: 1em;
  display: block;
  border-radius: 100%;
  background: grey;
  line-height: 0.9em;
  text-align: center;
  color: white;
  font-size: 2em;
}

.method-item-active span.method-name:after {
  display: block;
  position: relative;
  content: "\2714";
  left: 200%;
  top: -110%;
  background: #42aaff;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  color: white;
  padding: 2px;
}

.activity-heder-items {
  display: flex;
  justify-content: space-between;
}

.switch-btn {
  display: inline-block;
  width: 31px;
  /* ширина переключателя */
  height: 17px;
  /* высота переключателя */
  border-radius: 12px;
  /* радиус скругления */
  background: #bfbfbf;
  /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  /* анимация */
}

.switch-btn::after {
  content: "";
  height: 18px;
  /* высота кнопки */
  width: 18px;
  /* ширина кнопки */
  border-radius: 18px;
  /* радиус кнопки */
  background: #fff;
  /* цвет кнопки */
  transition-duration: 300ms;
  /* анимация */
  box-shadow: 0 0 10px 0 #999999;
  /* тень */
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999;
  /* тень */
}

.switch-on::after {
  left: 13px;
  background: #118c4e;
}
